header {
    display: flex;
    margin: 0 0 2em;
    align-items: center;
}

header h2 {
    margin: 0;
    margin-right: 0.75em;
}

header button {
    padding: 0.25em 0.75em;
    font-size: 0.8em;
    flex: 0;
    margin: 0;
}