.image {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    transition: all 0.1s;
}

.img-selected {
    transform:scale(1.05)
}

.index-selected {
    color: red;
    transform: scale(1.10);
    transition: all 0.2s;
}