main .grid {
  grid-template-columns: auto 30%;
}

aside ol li {
  display: list-item !important;
  font-size: 0.85em;
  padding: 0;
}

/* AddSeriesSearch */
.search-input {
  padding: 1em;
  border-radius: 8px;
  width: 450px;
  margin-right: 5px;
  border: 1px solid gray;
}

/* SeriesCategoryHeader */
header {
  display: flex;
  margin: 0 0 2em;
  align-items: center;
}

header h2 {
  margin: 0;
  margin-right: 0.75em;
}

header button {
  padding: 0.25em 0.75em;
  font-size: 0.8em;
  flex: 0;
  margin: 0;
}

/* SeriesItem */
.image {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  transition: all 0.1s;
}

.img-selected {
  transform: scale(1.05)
}

.index-selected {
  color: red;
  transform: scale(1.10);
  transition: all 0.2s;
}

.search-container {
  display: flex;
  position: relative;
}

.search-container button {
  flex: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background: #fff;
  color: #000;
  font-weight: 600;
  border-left: none;
  border-color: rgb(128, 128, 128);
}

/* .search-container input {
  flex: 1 0 85%;
} */

.add-series article {
  margin: 0.25em;
  padding: 0.25em;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid gray;
  display: flex;
  align-items: center;
}

.add-series img {
  margin-right: 0.75em;
}

.add-series span {
  flex: 1 0 75%;
}

.add-series-results {
  overflow-y: scroll;
  max-height: 500px;
}

.add-list-ul {
  padding-left: 0;
}

.search-active {
  /* position: absolute; */
  min-width: 276px;
  background: #fff;
  z-index: 9999;
}

.search-container-active button {
  border-bottom: 0;
  border-bottom-right-radius: 0
}

.add-list-ul li {
  font-size: 0.8em;
  border: 1px solid rgb(128,128,128);
  margin: 0;
  border-top: none;
  display:flex;
  flex-flow: row nowrap;
}

.add-list-ul li:first-child {
  border-top: 1px solid rgb(128, 128, 128)
}

.add-list-ul li:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}


.add-list-ul li:hover {
  background: rgb(224, 224, 224);
  cursor: pointer;
}

.search-container .search-input,
.search-container button {
  margin-bottom: 0
}

.search-input {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-container-active input {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-color: rgb(128, 128, 128);
}

li img {
  height: 85px;
  margin-right: 0.5em;
}

.series-item-container {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.series-item-container > div {
  position: relative;
}

.series-item-container span {
  position: absolute;
  top: 2px;
  right: 2px;
  background: white;
  width: 20px;
  height: 20px;
  border: 1px solid #2b2b2b;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
  font-weight: 800;
  box-shadow: 0 0 2px #000;
}

.series-item-container span:hover {
  cursor: pointer;
}